# Variables de entorno para Booki Svelte
VITE_RAPIDAPI_KEY=tu_clave_api_aqui
VITE_RAPIDAPI_HOST=booking-com.p.rapidapi.com
VITE_JWT_SECRET=tu_jwt_secret_aqui
VITE_API_INTERNAL_URL=tu_api_internal_url_aqui
VITE_API_INTERNAL_KEY=tu_api_internal_key_aqui
VITE_PSE_URL=http://127.0.0.1:5501
